<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

@model IList<Book>
<table>
    <caption>10 / @Model.Count Words</caption>
    @foreach (var item in Model.OrderBy(x => x.ID).Take(10))
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.ISBN</td>
        </tr>
    }
</table>